[package]
name = "frunk_core"
version = "0.0.22"
authors = ["Lloyd <lloydmeta@gmail.com>"]
description = "Frunk core provides developers with HList and Generic"
license = "MIT"
documentation = "https://docs.rs/frunk_core"
repository = "https://github.com/lloydmeta/frunk"
keywords = ["Frunk", "HList", "Generic", "LabelledGeneric"]

[badges]
travis-ci = { repository = "lloydmeta/frunk" }

[dependencies]
serde = { version = "^1.0", optional = true, default-features = false }
serde_derive = { version = "^1.0", optional = true, default-features = false }

[features]
with-serde = ["serde", "serde_derive"]

[dev-dependencies.frunk_derives]
path = "../derives"
version = "0.0.22"