[package]
name = "frunk_core"
version = "0.0.16"
authors = ["Lloyd <lloydmeta@gmail.com>"]
description = "Frunk core provides developers with HList and Generic"
license = "MIT"
documentation = "https://docs.rs/frunk_core"
repository = "https://github.com/lloydmeta/frunk"
keywords = ["Frunk", "HList", "Generic", "LabelledGeneric"]

[badges]
travis-ci = { repository = "lloydmeta/frunk" }

[dev-dependencies.frunk_derives]
path = "../derives"
version = "0.0.16"
