name: Benchmarks
on:
  push:
    branches:
      - master

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: rustup toolchain update nightly && rustup default nightly
      - uses: Swatinem/rust-cache@v2
      - name: run benchmark
        run: cargo +nightly bench | tee benchmark_output.txt
      - name: store benchmark result
        uses: rhysd/github-action-benchmark@v1
        with:
          name: Frunk Benchmarks
          tool: 'cargo'
          output-file-path: benchmark_output.txt
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          # Show alert with commit comment on detecting possible performance regression
          alert-threshold: '200%'
          comment-on-alert: true
          fail-on-alert: true
          alert-comment-cc-users: '@lloydmeta'
